<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CashierDB</display-name>
  <servlet>
  	<servlet-name>reg</servlet-name>
  	<servlet-class>CashierDB.Register</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>reg</servlet-name>
  	<url-pattern>/regServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>CashierDB.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  
</web-app>